@import "bootstrap-sprockets";
@import "bootstrap";

body {
  padding-top: 50px;
  padding-bottom: 60px;
}
div.alternating:nth-of-type(odd) {
  background-color: #ddd;
}
div.alternating:nth-of-type(even) {
  background-color: #ccc;
}
.input-box {
  padding: 10px;
}
.white {
  color: white;
}
.message {
  padding-top: 10px;
}
textarea {
  width: 100%;;
}
div.reactrb-icon {
  float: left;
  width: 50px;
  height: 50px;
  margin-right: 8px;
  background-size: contain;
  background-image: url("http://ruby-hyperloop.io/images/hyperloop_white.svg");
}
